body {
  background-color: lightblue;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    background-color: orange;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-color: lightgreen;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-color: coral;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background-color: lightyellow;
  }
}